


  
.itemshop{
  text-align:center;
 }
.bilder{
  margin-left: 105px;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
}
  
  .item h1{
    font-family: fortnite; 
    letter-spacing: 8px;
    font-size: 55px;
    text-align:center;
    color:whitesmoke;width:80%;
    margin-left: 10%;
    text-shadow: 3px 3px #45214c;
  }
  .item p{
    font-family: fortnite; 
    letter-spacing: 7px;
    font-size: 30px;
    text-align:center;
    color:whitesmoke;width:80%;
    margin-left: 10%;
    text-shadow: 2px 2px #45214c;
    margin-bottom: 20px;
  }
  
  .item h2{
    font-family: fortnite; 
    letter-spacing: 8px;
    font-size: 55px;
    text-align:center;
    color:whitesmoke;width:80%;
    margin-left: 10%;
    margin-top: 20px;
    text-shadow: 3px 3px #45214c;
  }
    
    @font-face {
      font-family: fortnite; 
      src: url(fortnite.otf)
    }
    @media screen and (max-width: 600px) {
      .navbar a {
        float: none;
        width: 100%;
      }
    }