


  
 .itemshop{
  text-align:center;
 }
 .titleskins{
  text-align:center;
  font-family: fornite;
 }
 
  .item{
  
    font-family: fortnite; 
    letter-spacing: 8px;
    font-size: 55px;
    text-align:center;
    color:whitesmoke; background-color:rgb(64, 71, 85); border-radius: 50px; width:80%;
    margin-left: 10%;
    }
  
  .iitem{
    font-family: fornite;
    text-align:center;
  }
    body{
      margin: 0;
      padding: 0;
      background: rgb(47, 49, 54);
    }
    
    @font-face {
      font-family: fortnite; 
      src: url(fortnite.otf)
    }
    @media screen and (max-width: 600px) {
      .navbar a {
        float: none;
        width: 100%;
      }
    }